:root {
  --margin-default: .5rem;
  --padding-default: .5rem;
}
* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

html, main, div[role="main"] {
  background-color: var(--primary-color-text);
  min-width: calc(100vw - var(--padding-default));
  max-width: calc(100vw - var(--padding-default));
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
}

div[role="main"] {
  padding: var(--padding-default);
}

.header-container {
  position: relative;
  padding: 40px 0 40px 0;
}

.header-container__btn-back{
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 50px !important;
  width: 50px !important;
}

.calendar-month-container {
  width: auto;
}

.calendar-month-today-button {
  position: relative;
  width: 100% !important;
}

.calendar-month-today-button > span {
  opacity: 0;
}

.calendar-month-today-button::after {
  content: 'This Month';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.calendar-month-clear-button {
  display: none;
}


.table-appointments-container {
  width: 70vw;
}

.dialog-form-container {
  width: 100%;
  max-width: 320px;  
}

.form-container {
  padding: 1.5rem 1rem 0 1rem;
}

.form-group {
  margin: 2rem 0;
}

.form-group:nth-child(1) {
  margin: 0;
}

.form-group:nth-last-child(1) {
  margin: 0;
}

.p-inputgroup-addon--custom {
  background-color: var(--primary-color);
  border-radius: 3px;
  color: var(--primary-color-text);
}